@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/*
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-rgb: 0, 0, 0;
    }
  }
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    padding: 8px 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-wrap: nowrap
  }

  .button.button-size-1 {
    padding: 8px 16px;
    border-radius: 6px;
    height: 44px;
  }
  .button.button-size-2 {
    padding: 12px 20px;
    border-radius: 8px;
    height: 52px;
  }

  .button.button-filled {
    border-color: #444FAE;
    background-color: #444FAE;
    color: #fff;
  }

  .button.button-hollow {
    border-color: #444FAE;
    background-color: var(--background-rgb);
    color: #444FAE;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }
}
